<!DOCTYPE html>
<html>
<head>
    <title>Bars chat 2</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="homebanner">
        <h1 class="homebannertext">
            <a href="#" id="logo">Bars <span>chat</span></a>
        </h1>
    </header>
    <section>
        <div class="homesection">
            <div class="logo">
                <img src="img/ub_logo.png" alt="nodelogo" id="ublogo" />
                <h2 id="chat">тип чата</h2>
            </div>
            <a title="Create" href="/chat/0" id="create">
                <div id="createbutton">
                    <div id="little">Просоединится в</div>
                    <div id="big">ОБЩИЙ ЧАТ</div>
                </div>
            </a>
            <a title="Create" href="/create" id="create">
                <div id="createbutton">
                    <div id="little">Создать</div>
                    <div id="big">ПРИВАТНЫЙ ЧАТ</div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>
